#wormBoard{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

#score{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 140px;
}

.winning-message{
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-size: 5rem;
    padding: 0;
    
}

.winning-message button{
    font-size: 3rem;
    background-color: white;
    border: 2px solid black;
    padding: 0.25em .5em;
    cursor: pointer;
}

.winning-message button:hover{
    font-size: 3rem;
    background-color: black;
    border: 2px solid white;
    color: white;
    padding: 0.25em .5em;
    cursor: pointer;
}

.winning-message.show{
    display: flex;
}

body{
    background-color: black;
}


